* {
  font-family: "Quicksand";
  margin: 0px;
}

footer .footer-text {
  font-size: 75px;
  text-align: center;
  position: relative;
  margin: 100px 0px 0px 0px;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  footer .footer-text {
    font-size: 50px;
  }
}
footer .footer-text b {
  font-family: "Roboto";
  z-index: 1;
}
footer .contact-button {
  font-size: 15px;
  text-align: center;
  font-family: "Roboto";
  position: relative;
  margin: 50px 0px 100px 0px;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  footer .contact-button {
    font-size: 13px;
  }
}
footer .contact-button b {
  font-family: "Roboto";
  z-index: 1;
  border: 3px solid black;
  padding: 15px 20px;
}
footer .contact-button b:hover {
  color: #FFFFFF;
  background-color: #000000;
}
footer .icon-container {
  text-align: center;
}
footer .icon-container i {
  margin: 0px 30px;
}
@media only screen and (max-width: 992px) {
  footer .icon-container i {
    margin: 0px 20px;
  }
}
footer .icon-container i:hover {
  color: #7c7c7c;
}
footer .icon-container b {
  display: block;
  font-size: 13px;
  color: #292929;
  margin: 60px 0px;
}

li {
  display: inline-block;
}

.header {
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 100;
}

.header__nav {
  height: 80px;
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 100;
}

.header__nav-logo-container img {
  height: 80px;
}

.header__nav-logo-container {
  font-size: 40px;
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 0px;
  left: 10px;
  z-index: 100;
}

.header__nav-logo-container img {
  z-index: 10000;
}

.header__nav-list {
  text-align: right;
  position: relative;
  top: -50px;
  z-index: 100;
}

.header__nav-list__item {
  padding: 0px 40px;
}

.nav-item:hover {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #000000;
}

/*bootstrap nav*/
.navbar {
  display: none;
  margin-top: -10px;
}

.container-fluid {
  background-color: #ffffff;
  border: none;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-width: 700px;
  --bs-offcanvas-transition: transform 0.6s ease-in-out;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  margin: 30px 0px;
  font-size: 20px;
}

.work-carousel .carousel {
  margin-top: 100px;
}
.work-carousel .carousel-control-next {
  top: 80px;
}
.work-carousel .carousel-control-prev {
  top: 80px;
}
.work-carousel .carousel-item img {
  object-fit: scale-down;
}
.work-carousel .carousel-item div {
  width: 45%;
  height: 400px;
  display: inline-block;
  overflow: hidden;
}
.work-carousel .carousel-item .carousel-img-1 {
  margin-left: 40px;
}
.work-carousel .carousel-item .carousel-img-1 img {
  position: relative;
}
.work-carousel .carousel-item .carousel-img-2 {
  margin-left: 45px;
}
.work-carousel .mobile-carousel {
  display: none;
}
@media only screen and (max-width: 992px) {
  .work-carousel .mobile-carousel {
    display: flex;
  }
}
.work-carousel .mobile-carousel .carousel-item {
  margin-top: 50px;
}
.work-carousel .mobile-carousel img {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
}
@media only screen and (max-width: 992px) {
  .work-carousel .desktop-carousel {
    display: none;
  }
}
.work-carousel .desktop-carousel p b {
  font-size: 25px;
  margin-left: 40px;
}

.gallery {
  padding-left: 0px;
  padding-right: 0px;
}
.gallery img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  padding: 20px;
  transition: all 0.3s linear;
}
.gallery img:hover {
  padding: 0px;
  filter: brightness(0.7);
}
.gallery .active {
  margin-top: 100px;
}
.gallery .col-lg-6 {
  margin-bottom: 90px;
}
@media only screen and (max-width: 992px) {
  .gallery .col-lg-6 {
    margin-bottom: 40px;
  }
}
.gallery .col-lg-6 .img-text {
  margin-left: 20px;
  font-size: 18px;
}
.gallery .col-lg-6 .description {
  font-size: 16px;
  color: #818181;
}

.accordion .accordion-body {
  font-size: 17px;
}
.accordion .accordion-button b {
  font-family: "Roboto";
  font-size: 20px;
} /*nav*/
/*texto principal*/
.main-text-container {
  height: 600px;
  width: 100%;
  position: relative;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/03f5fc110557559.5ff1e81fe91cd.gif);
  display: flex;
  justify-content: center;
  z-index: -1;
}
.main-text-container .main-text {
  font-size: 100px;
  font-family: "Roboto";
  position: relative;
  padding-top: 250px;
  z-index: 10;
  color: #000000;
}
@media only screen and (max-width: 992px) {
  .main-text-container .main-text {
    font-size: 50px;
  }
}

/*about.html*/
.about-section .row {
  margin: 0px;
}
.about-section .row .title {
  font-size: 0.938rem;
  margin-top: 80px;
  margin-bottom: 40px;
  padding-left: 45px;
}
.about-section .row .title b {
  font-family: "Roboto";
}
.about-section .row .abt-text-1 {
  text-align: left;
  padding: 0px 30px;
  padding-top: 50px;
}
.about-section .row .abt-text-1 b {
  font-family: "Roboto";
  font-size: 2.5rem;
}
.about-section .row .abt-text-2 {
  font-size: 1.5rem;
  font-family: "Roboto";
  color: #414141;
  padding: 0px 40px;
  padding-top: 5px;
}
.about-section .row .subtitle {
  font-size: 4.375rem;
  font-family: "Roboto";
  padding-left: 45px;
}
@media only screen and (max-width: 992px) {
  .about-section .row .subtitle {
    font-size: 45px;
  }
}
.about-section .row .we-titles {
  font-size: 1.375rem;
  padding-top: 50px;
}
.about-section .row .we-titles b {
  font-family: "Roboto";
  padding-left: 45px;
}
.about-section .row .we-subtitles {
  padding-left: 45px;
  font-size: 1.063rem;
}
.about-section .row .last {
  padding-bottom: 20px;
}
.about-section .row .about-image {
  width: 100%;
  height: 100%;
}

/*contact.html*/
.contact {
  margin-top: 70px;
}
.contact .contact-title {
  margin-bottom: 40px;
  font-size: 35px;
  padding-left: 15px;
}
.contact .contact-title b {
  font-family: "Roboto";
}
.contact .contact-text {
  padding-left: 15px;
}
.contact form {
  padding-left: 15px;
}
.contact form input {
  display: block;
}
.contact form input, .contact form textarea {
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  font-size: 1em;
  margin: 20px 0px;
  width: 90%;
}
.contact form label {
  display: none;
}
.contact form input::placeholder {
  font-size: 15px;
  color: #9c9c9c;
}
.contact form textarea::placeholder {
  font-size: 15px;
  color: #9c9c9c;
}
.contact form input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
.contact form textarea:focus {
  outline: none;
  border-bottom: 1px solid black;
}
.contact form textarea {
  height: 45px;
}
.contact form input[type=submit]:hover {
  color: #FFFFFF;
  background-color: #000000;
}
.contact form input[type=submit] {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  font-size: 15px;
  width: 100px;
  font-weight: 600;
}
.contact .contact-image {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 992px) {
  .navbar {
    display: flex;
  }
  .main-header {
    display: none;
  }
  .carousel-inner p b {
    font-size: 30px;
    margin-left: 0px;
  }
  .mobile-carousel .carousel-item {
    margin-top: 0px;
  }
  .abt-text-2 {
    margin-top: 40px;
  }
  .about .main-text {
    text-align: center;
  }
  .faq {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
