* {
    font-family: 'Quicksand';
    margin: 0px;

}

/*nav*/
li {
    display: inline-block;
}

.header {
    position: relative;
    width:100%;
    height: 50px;
    z-index: 100;
}

.header__nav {
    height: 80px;
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 100;

}

.header__nav-logo-container img {
    height: 80px;
    
}

.header__nav-logo-container {
    font-size: 40px;
    height: fit-content;
    width: fit-content;
    position: relative;
    top: 0px;
    left: 10px;
    z-index: 100;
    
}

.header__nav-logo-container img {
    z-index: 10000;
}
.header__nav-list {
    text-align: right;
    position: relative;
    top: -50px;
    z-index: 100;
}

.header__nav-list__item {
    padding: 0px 40px;
}
.nav-item:hover {
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #000000;



}

/*bootstrap nav*/
.navbar {
    display: none;
    margin-top: -10px;
}
.container-fluid {
    background-color: #ffffff;
    border: none;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 700px;
    --bs-offcanvas-transition: transform 0.6s ease-in-out;
}

.navbar-brand {
    font-size: 40px;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    margin: 30px 0px;
    font-size: 20px;
}





/*texto principal*/

.main-text {
    font-size: 100px;
    font-family: 'Roboto';
    position: relative;
    padding-top: 250px;
    z-index: 10;
    color: #000000;
    
    
    

}

.main-text-container {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/03f5fc110557559.5ff1e81fe91cd.gif);
    display: flex;
    justify-content: center;
    z-index: -1;

}

/*galeria home*/
.gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    padding: 20px;
    transition: all 0.3s linear;
}

.gallery .active {
    margin-top: 100px;
}


.gallery .col-lg-6 {
    margin-bottom: 90px; 

}

.gallery {
    padding-left: 0px;
    padding-right: 0px;
}

.gallery img:hover {
    padding: 0px;
    filter: brightness(0.7);
   
}
.img-text {
    margin-left: 20px;
}

.caption {
    font-size: 18px;
}

.description {
    font-size: 16px;
    color: #818181;
}






/*footer*/

.footer-text {
    font-size: 75px;
    text-align: center;
    position: relative;
    margin: 100px 0px 0px 0px;
    z-index: 1;

}

.footer-text b{

    font-family: 'Roboto';
    z-index: 1;
    
}

.contact-button {
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto';
    position: relative;
    margin: 50px 0px 100px 0px;
    z-index: 1;

}
.contact-button b:hover {
    color: #FFFFFF;
    background-color: #000000;

}

.contact-button b {
    font-family: 'Roboto';
    z-index: 1;
    border: 3px solid black;
    padding: 15px 20px;
}

i {
    margin: 0px 30px;
    
}

i:hover {
    color: #7c7c7c;
}

.icon-container {
    text-align: center;

}

.icon-container b{
    display: block;
    font-size: 13px;
    color: #292929;
    margin: 60px 0px;
    
}

/*about.html*/
.title {
    font-size: 0.938rem;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-left: 45px;
}

.title b {
    font-family: 'Roboto';
    
}


.abt-text-1 {
    text-align: left;
    padding: 0px 30px;
    padding-top: 50px;
}
.abt-text-1 b{
    font-family: 'Roboto';
    font-size: 2.5rem;
}

.abt-text-2 {
    font-size: 1.5rem;
    font-family: 'Roboto';
    color: #414141;
    padding: 0px 40px;
    padding-top: 5px;

}

.subtitle {
    font-size: 4.375rem;
    font-family: 'Roboto';
    padding-left: 45px;
}

.we-titles {
    font-size: 1.375rem;
    padding-top: 50px;

}

.we-titles b {
    font-family: 'Roboto';
    padding-left: 45px;
}

.we-subtitles {
    padding-left: 45px;
    font-size: 1.063rem;
}

.last {
    padding-bottom: 20px;
}

.about-image {
    width: 100%;
    height: 100%;
}
.about-title-1 b{
    font-size: 15px;
    font-family: 'Roboto';
    margin-left: 30px;
}

.about-info-1 {
    width: 500px;
    height: 250px;
    display: inline-flex;
    position: relative;
   
}


.about-info-2 {
    width: 600px;
    height: 250px;
    display: inline-flex;
    margin: 20px 0px;
    position: relative;
    

}
   
.about-info-1 p b {
    font-size: 45px;
    font-family: 'Roboto';
    display: block;
    padding: 15px;
    position: relative;
    top: 50px;
}

.about-info-2 p {
    font-size: 25px;
    display: block;
    padding: 30px;
    
    
}

.about-title-2 b{
    font-size: 15px;
    font-family: 'Roboto';
    margin-left: 30px;
    margin-top: 50px;

}

.about-title-2 {
    margin-top: 140px;
    margin-bottom: 30px;

}

.about-subtitle {
    font-size: 65px;
    font-family: 'roboto';
    margin-left: 30px;
}

.about-subtitle-2 {
    font-size: 20px;
    font-family: 'roboto';
    margin-left: 30px;
    margin-top: 40px;
}

.about-subtitle-2 b {
    font-family: 'roboto';

}

.subtitle-container {
    width: 500px;
    height: 300px;
    margin-left: 60px;
    margin-top: 80px;
    display: inline-block;
}

.about-info-3 {
    margin-left: 30px;
    margin-top: 5px;
}

.about-img {
    width: 500px;
    height: 300px;
    display: inline-block;

}

.row {
    
    margin: 0px;
}

/*contact.html*/
input {
    display: block;
}

.form-container {
    display: inline-block;
    width: 500px;
    margin-left: 70px;
    position: relative;
}

.contact-title {
  margin-bottom: 40px;
  font-size: 35px;


}

.contact-title b{
    font-family: 'Roboto';
  
  
  }

.contact-form {
    display: inline-block;
    font-size: 17px;
    margin-top: 20px;
}
      
input, textarea {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    font-size: 1em;
    margin: 20px 0px;
    width: 100%;

}

textarea {
    height: 100px;
}

label {
    display: none;
}

input::placeholder {
    font-size: 15px;
    color: #9c9c9c;
}

textarea::placeholder {
    font-size: 15px;
    color: #9c9c9c;
}

input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

textarea:focus {
    outline: none;
    border-bottom: 1px solid black;
}

textarea {
    height: 45px;
}
   

input[type="submit"]:hover {
    color: #FFFFFF;
    background-color: #000000;

}

input[type="submit"] {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    font-size: 15px;
    width: 100px;
    font-weight: 600;
    

}

.contact-title b{
    font-family: 'roboto';
    padding-left: 20px; 
}
      

form {
    padding-left: 20px;
}

.contact-text {
    padding-left: 20px;
}

.contact-img-1 {
    display: inline-block;
    height: 580px;
    width: 600px;
    outline: 1px solid black;
    margin-left: 70px;
    margin-top: 50px;
    position: relative;
    top: 40px
}


.contact {
    margin-top: 70px;
}

.contact-image {
    width: 100%;
    height: 100%;
}
/*faq.html*/

.accordion-body {
    font-size: 17px;


}

.accordion-button b {
    font-family: 'Roboto';
    font-size: 20px;
}





/*CAROUSEL*/
.carousel-item img{
    object-fit: scale-down;
}

.carousel-item div{
    width: 45%;
    height: 400px;
    display: inline-block;
    overflow: hidden;

}

.carousel-img-1 {
    margin-left: 40px;

}
.carousel-img-1 img{
    position: relative;
    
}

.carousel-img-2 {
    margin-left: 45px;
}

.carousel {
    margin-top: 100px;
}

.mobile-carousel .carousel-item {
    margin-top: 50px;
}

.mobile-carousel {
    display: none;
}

.mobile-carousel img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    
}


.desktop-carousel p b {
    font-size: 25px;
    margin-left: 40px;
}

.carousel-control-next {
    top: 80px;
}
.carousel-control-prev {
    top: 80px;
}




@media only screen and (max-width:992px) {
    .navbar {
        display: flex;
    }
    .main-header {
        display: none;
    }

    .main-text {
        font-size: 50px;
    }
    .footer-text {
        font-size: 50px;
    }
    .contact-button {
        font-size: 13px;

    }

    i {
        margin: 0px 20px;
    }

    .desktop-carousel {
        display: none;
    }
    .mobile-carousel {
        display: flex;
    }
    .gallery .col-lg-6 {
        margin-bottom: 40px; 
    
    }

    .carousel-inner p b {
        font-size: 30px;
        margin-left: 0px;
        
    }

    .mobile-carousel .carousel-item {
        margin-top: 0px;
    }

    .abt-text-2 {
        margin-top: 40px;
    }

    .about .main-text {
        text-align: center;
    }

    .faq {
        text-align: center;
    }

    .subtitle {
        font-size: 45px;
    }

}



