.accordion {
    --bs-accordion-btn-focus-border-color: #bebebe;
    --bs-accordion-active-color: none;
    --bs-accordion-active-bg: none;
    .accordion-body {
        font-size: 17px;
    }
    .accordion-button b {
        font-family: 'Roboto';
        font-size: 20px;
    }

}